.Resume {
    text-align: center;
}

.Resume-body {
    background-color: #1a1f16;
    font-size: calc(10px + 2vmin);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
}
